<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Connection Strings -->
	<connectionStrings>
		<add name="MySQLConnection"
			 connectionString="Server=localhost;Port=3306;Database=toyland_db;Uid=root;Pwd=;CharSet=utf8mb4;SslMode=none;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>

	<!-- App Settings -->
	<appSettings>
		<add key="SecuritySaltKey" value="ToyLand2025@SecureKey#VietNam" />
		<add key="SecurityPepperKey" value="WebsiteDoChoi!Security$2025" />
		<add key="SessionTimeout" value="30" />
		<add key="SiteName" value="ToyLand - Shop Đồ Chơi Trẻ Em" />
		<add key="DefaultPageSize" value="12" />
		<add key="EnableLogging" value="true" />
	</appSettings>

	<!-- System.Web - CHỈ ĐỊNH NGHĨA MỘT LẦN -->
	<system.web>
		<!-- Compilation - CHỈ CÓ MỘT DÒNG -->
		<compilation debug="true" targetFramework="4.7.2" />

		<!-- HTTP Runtime -->
		<httpRuntime targetFramework="4.7.2" maxRequestLength="51200" executionTimeout="300" />

		<!-- Custom Errors - TẮT ĐỂ XEM LỖI CHI TIẾT -->
		<customErrors mode="Off" />

		<!-- Authentication -->
		<authentication mode="Forms">
			<forms loginUrl="~/Client/Login.aspx"
				   defaultUrl="~/Client/Default.aspx"
				   timeout="30"
				   name=".ASPXAUTH"
				   path="/"
				   requireSSL="false"
				   slidingExpiration="true" />
		</authentication>

		<!-- Authorization -->
		<authorization>
			<allow users="*" />
		</authorization>

		<!-- Session State -->
		<sessionState mode="InProc" timeout="30" />

		<!-- Pages -->
		<pages>
			<namespaces>
				<add namespace="System.Web.Optimization" />
			</namespaces>
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms"
					 namespace="Microsoft.AspNet.Web.Optimization.WebForms"
					 tagPrefix="webopt" />
			</controls>
		</pages>

		<!-- HTTP Cookies Security -->
		<httpCookies httpOnlyCookies="true" requireSSL="false" />
	</system.web>

	<!-- Runtime Assembly Binding -->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.4.0.0" newVersion="8.4.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<!-- System.CodeDom -->
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs"
					  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					  warningLevel="4"
					  compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
					  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					  warningLevel="4"
					  compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>

	<!-- MySQL Data Provider -->
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider"
				 invariant="MySql.Data.MySqlClient"
				 description=".Net Framework Data Provider for MySQL"
				 type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=8.4.0.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>

	<!-- Authorization cho Admin folder -->
	<location path="Admin">
		<system.web>
			<authorization>
				<deny users="?" />
				<allow roles="Admin,Manager" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>

	<!-- Protection cho App_Data -->
	<location path="App_Data">
		<system.web>
			<authorization>
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
</configuration>